{% extends "site_legal_e_bacana/modelo.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título legal</title>
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">
    


       
</head>
<body>

    {%block conteudo%}

    {% if titulosAleatorios == 0%}
        <h1 id="titulo" class="treme" >A Tela de Início do Site de Calendário</h1>

    {% elif titulosAleatorios == 1%}

        {% if request.user.is_authenticated%}
            <h1 id="titulo" class="treme" >Você, {{user.username}}, voltou para o site do calendário, porque?/h1>
        {%else%}
            <h1 id="titulo" class="treme" >Porque você não loga em uma conta?</h1>
        {%endif%}


     {% elif titulosAleatorios == 2%}
        <h1 id="titulo" class="treme" >O Título da Tela de Início do Site de Calendário</h1>


     {% elif titulosAleatorios == 3%}
        <h1 id="titulo" class="treme" >Porque eu fui inventar de fazer 10 desses</h1>


     {% elif titulosAleatorios == 4%}
        <h1 id="titulo" class="treme" >Tenta clicar no botão azul do fundo da tela</h1>


     {% elif titulosAleatorios == 5%}
        <h1 id="titulo" class="treme" >Agora com 50% mais cores!</h1>


     {% elif titulosAleatorios == 6%}
        <h1 id="titulo" class="treme" >Se lembre de excluir eventos antigos</h1>


     {% elif titulosAleatorios == 7%}
        <h1 id="titulo" class="treme" >Esse é caso o random saia 7</h1>


     {% elif titulosAleatorios == 8%}
        <h1 id="titulo" class="treme" >*Texto Criativo*</h1>


     {% elif titulosAleatorios == 9%}
        <h1 id="titulo" class="treme" >AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>


     {% elif titulosAleatorios == 10%}
        <h1 id="titulo" class="treme" >Olha o DVD vuando aksdkak</h1>


     {% else %}
        <h1 id="titulo" class="treme" >Algo deu errado, F</h1>

    {%endif%}


    <p id="dvd" class="som_dos_link" >💿</p>

   

    <script>
function corAleatoria() {
    let r = Math.floor(Math.random()*256);
    let g = Math.floor(Math.random()*256);
    let b = Math.floor(Math.random()*256);
    return `rgb(${r},${g},${b})`;
}

document.getElementById("titulo").style.color = corAleatoria();


const dvd = document.getElementById("dvd");

let x = 100;
let y = 100;

let vx = 3;
let vy = 3;

let rot = 0;

function animar(){

    x += vx;
    y += vy;

    rot += 5

    const larguraTela = window.innerWidth;
    const alturaTela = window.innerHeight;

    const larguraElemento = dvd.offsetWidth;
    const alturaElemento = dvd.offsetHeight;

    if(x + larguraElemento >= larguraTela-15 || x <= 0){
        vx = -vx;
        dvd.style.color = "hsl(" + Math.random()*360 + "deg,100%,50%)";
        
    }

    if(y + alturaElemento >= alturaTela-10 || y <= 0){
        vy = -vy;
        dvd.style.color = "hsl(" + Math.random()*360 + "deg,100%,50%)";
        
    }

    dvd.style.left = x + "px";
    dvd.style.top = y + "px"; 
    dvd.style.transform = "rotate(" + rot + "deg)";

    requestAnimationFrame(animar);
    
}

function titulosAleatorios()
{

return Math.floor(Math.random() * 11);

}

animar();
</script>

    <table class="table table-striped table-hover comic">

    <thead>
        <tr>
            <th>Ação a Ser Feita</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>

        <tr>

            <td>Eventos</td>

            <td>
                <a class="comic linhazinha som_dos_link" href="{% url 'eventos_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha som_dos_link" href="{% url 'eventos_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Subtarefas</td>

            <td>
                <a class="comic linhazinha som_dos_link" href="{% url 'subtarefas_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha som_dos_link" href="{% url 'subtarefas_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Lembretes</td>

            <td>
                <a class="comic linhazinha som_dos_link" href="{% url 'lembretes_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha som_dos_link" href="{% url 'lembretes_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Anexos</td>

            <td>
                <a class="comic linhazinha som_dos_link" href="{% url 'anexos_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha som_dos_link" href="{% url 'anexos_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>
        <tr>

            <td>Participantes</td>

            <td>
                <a class="comic linhazinha som_dos_link" href="{% url 'participantes_create' %}">Criar</a> &emsp;

                <a class="comic linhazinha som_dos_link" href="{% url 'participantes_listar' %}">
                    Listar
                </a> &emsp;

            </td>


        </tr>

    </tbody>

</table>

   {%endblock conteudo%} 
</body>
</html>